<div class="container text-center">
    <div class="row text-light my-5 pb-5">
        <div id="Quotes" class="col-12 fs-3 fw-bold">
            <h1>Quotes</h1>
        </div>
    </div>

    <div class="row align-items-center text-danger fs-1 fw-bold my-4">
        <div class="col-12 ">
            <p id="Time"></p>
        </div>

    </div>


    <div class="row text-end text-light fs-4 fst-italic">
        <div class="col-12">
            <!-- <h1>Weathers</h1> -->
            <p>Celsius: <span id="Weather"></span></p>
        </div>
    </div>
</div>